/*
* Copyright (c) TIKI Inc.
* MIT license. See LICENSE file in root directory.
*/

package com.mytiki.kgraph.features.latest.graph;

import com.arangodb.springframework.repository.ArangoRepository;

public interface GraphVertex{{{name_pascal}}}Repository extends ArangoRepository<GraphVertex{{{name_pascal}}}DO, String> {
}
