/*
* Copyright (c) TIKI Inc.
* MIT license. See LICENSE file in root directory.
*/

package com.mytiki.kgraph.features.latest.graph;

import com.arangodb.springframework.annotation.Document;

@Document(GraphVertex{{{name_pascal}}}DO.COLLECTION)
public class GraphVertex{{{name_pascal}}}DO extends GraphVertexDO {
    public static final String COLLECTION = "{{{name_camel}}}";

    @Override
    public String toString() {
        return "{" +
            "id='" + id + '\'' +
            ", collection='" + COLLECTION + '\'' +
            ", name='" + name + '\'' +
            "}";
    }
}