/*
* Copyright (c) TIKI Inc.
* MIT license. See LICENSE file in root directory.
*/

package com.mytiki.kgraph.features.latest.graph;

import com.arangodb.springframework.annotation.Document;

@Document("{{{name_camel}}}")
public class GraphVertex{{{name_pascal}}}DO extends GraphVertexDO {
    public GraphVertex{{{name_pascal}}}DO() {
        super("{{{name_camel}}}");
    }
}