/*
* Copyright (c) TIKI Inc.
* MIT license. See LICENSE file in root directory.
*/

package com.mytiki.kgraph.features.latest.graph;

public interface GraphVertex{{{name_pascal}}}Repository extends GraphVertexRepository<GraphVertex{{{name_pascal}}}DO> {
}
