/*
* Copyright (c) TIKI Inc.
* MIT license. See LICENSE file in root directory.
*/

package com.mytiki.kgraph.features.latest.vertex;

public interface Vertex{{{type_pascal}}}Repository extends VertexRepository<Vertex{{{type_pascal}}}DO> {
}
